<?xml version='1.0' encoding='utf-8'?>
<widget id="X_music" version="1.0.0" xmlns="netra the app" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Netra</name>
    <icon src="kmit-b.png" />
    <description>
        To irrigate the students mind.
    </description>
    <author email="nishithakooudagani@gmail.com" href="http://www.google.com">
        Bhanu
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>